@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
	--green: #749020;
	--greenActive: #588401;
	--greenHover: #709F12;
	--greenSemiDark: #475D1C;
	--greenDark: #344D00;

	--good: #67DA0E;

	--bad: #DB1313;

	--dark: #3d3d3d;
}

* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #3D3D3D;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Play', sans-serif;
}

a {
	color: rgb(2, 51, 100);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(29, 30, 102);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}




.container {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}